<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <input type="date" v-model="date">
    <hr>
    <date-picker :value="born" @input="born = $event"></date-picker>
    <date-picker v-model="born"></date-picker>
    <hr>
    <regexp-input v-model="re"></regexp-input>
  </div>
  <script>
    Vue.component('date-picker',{
      props:{
        value:{
          type:Date,
          default:new Date()
        }
      },
      template:`
        <span>请选择日期
          <input :value="date" @change="dateChange" type="date" />
        </span>
      `,
      data() {
        return {
          date:this.value.toLocaleDateString().replace(/\//g,'-')
        }
      },
      methods: {
        dateChange(e){
          this.$emit('input',new Date(e.target.value))
        }
      },
      watch: {
        value(val){
          this.date = val.toLocaleDateString().replace(/\//g,'-')
        }
      },
    })
    
    Vue.component('regexp-input',{
      props:{
        value:{
          type:RegExp,
          required:true
        }
      },
      template:`
        <div>
          <input :value="reText" @change="changeRe" type="text">
          <span>
            <input type="checkbox" v-for="i in reFlags" />
          </span>
        </div>
      `,
      data() {
        return {
          reText : this.value.source,
          reFlags: this.value.flags
        }
      },
      methods: {
        changeRe(e){
          var re = new RegExp(e.target.value)
          this.$emit('input',re)
        }
      },
      watch: {
        value(val){
          this.reText = val.source
        }
      },
    })
    Vue.component('captcha-input',{
      template:``
    })
    
    var app = new Vue({
      el:'#app',
      data() {
        return {
          date: '',
          re:/foo/gi,
          born:new Date("2018-12-12")
        }
      },
    })
  </script>
</body>
</html>
